# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
.venv/
.env
venv/
backend/.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node / frontend (if you use React later)
node_modules/
dist/
build/

# Temporary files
*.tmp
*.bak
*.swp

# HuggingFace / model caches
cache/
*.ckpt
*.bin

# Ignore data directory contents but allow empty folder
/data/*
!/data/.gitkeep

# Ignore uploaded_docs contents but allow empty folders
/uploaded_docs/*
!/uploaded_docs/.gitkeep

.zencoder
.zenflow
frontend/README.md